<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Epasame-Trabajador</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
              crossorigin="anonymous">
        <link rel="stylesheet" href="/css/VerPermisosTrabajador.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar"
                            aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <li class="nav-item dropdown d-flex">
                    <ion-icon name="person-circle-sharp"></ion-icon>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">

                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <form th:action="@{/logout}" method="post" style="display: inline;">
                                <button type="submit" class="dropdown-item">Cerrar sesión</button>
                            </form>
                        </li>
                    </ul>
                    </li>
                </div>
            </nav>
        </header>

        <!--Barra Lateral-->
        <div th:replace="~{fragments/menuTrabajador :: menuTrabajador}"></div>


        <main>
            <div class="container mt-3"> 
                <h2>Permisos</h2>
                <div id="miDiv"
                     th:data-nombres="${trabajador.nombres}"
                     hidden>
                </div>
                
                <form th:action="@{/VerPermisosTrabajador}" method="get">
                    <div class="filtros-container mt-4">
                        <div class="input-group">
                            <span class="input-group-text">Desde</span>
                            <input type="date" name="desde" id="desde" class="form-control select-date" th:value="${desde}"
                                   required>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text">Hasta</span>
                            <input type="date" name="hasta" id="hasta" class="form-control select-date" th:value="${hasta}"
                                   required>
                        </div>
                        <div class="input-group">
                            <button class="btn aplicar" type="submit" id="buscarFechas">Filtrar</button>
                            <button class="btn limpiar" type="button" id="limpiarFiltros"
                                    onclick="limpiarFiltros()">Limpiar</button>
                        </div>
                    </div>
                </form>
                
                <div class="table-responsive">
                    <table class="table table-striped mt-4">
                        <thead>
                            <tr>
                                <th>Fecha de Peticion</th>
                                <th>Tipo de permiso</th>
                                <th>Descripcion</th>
                                <th>Evidencia</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Estado</th>
                                <th>Fecha de Aprobacion</th>
                                <th>Fecha de Rechazo</th>
                                <th>Comentarios</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- iteraramos sobre las justicicaciones para mostrarlas-->
                            <tr th:each="permiso : ${permisos}">
                                <td th:text="${permiso['fechapeticion']}"></td> 
                                <td th:text="${permiso['tipo']}"></td> 

                                <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" 
                                    th:text="${permiso.descripcion}" 
                                    onmouseover="this.setAttribute('title', this.textContent);"></td>

                                <!-- Link para descargar la evidencia si está presente -->
                                <td>
                                    <a th:href="'data:application/octet-stream;base64,' + ${permiso['evidencia']}" 
                                       th:if="${permiso['evidencia']} != null" download="evidencia.jpg">Descargar</a>
                                    <span th:if="${permiso['evidencia']} == null">Sin evidencia</span>
                                </td>

                                <td th:text="${permiso['fechainicio']}"></td>
                                <td th:text="${permiso['fechafin']}"></td>
                                <td th:text="${permiso['estado']}"></td>
                                <td th:text="${permiso.fechaaprobado != null ? permiso.fechaaprobado : '...'}"></td>
                                <td th:text="${permiso.fecharechazado != null ? permiso.fecharechazado : '...'}"></td>
                                
                                <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" 
                                    th:text="${permiso.motivo != null ? permiso.motivo : '...'}" 
                                    onmouseover="this.setAttribute('title', this.textContent);"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <nav>
                    <ul class="pagination">
                        <!-- Botón de página anterior -->
                        <li class="page-item" th:classappend="${permisosPage.first} ? 'disabled'">
                            <a class="page-link" th:href="@{/VerPermisosTrabajador(page=${permisosPage.number - 1})}">Anterior</a>
                        </li>

                        <!-- Números de página -->
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, permisosPage.totalPages - 1)}"
                            th:classappend="${i == permisosPage.number} ? 'active'">
                            <a class="page-link" th:href="@{/VerPermisosTrabajador(page=${i})}" th:text="${i + 1}"></a>
                        </li>

                        <!-- Botón de página siguiente -->
                        <li class="page-item" th:classappend="${permisosPage.last} ? 'disabled'">
                            <a class="page-link" th:href="@{/VerPermisosTrabajador(page=${permisosPage.number + 1})}">Siguiente</a>
                        </li>
                    </ul>
                </nav>
                
            </div>
        </main>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                let divDatos = document.getElementById('miDiv');
                let nombres = divDatos.getAttribute('data-nombres');
                // Seleccionamos los campos del formulario
                let nombreTrabajador = document.getElementById('navbarDropdown');

                nombreTrabajador.textContent = nombres;
            });
        </script>
        
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                document.getElementById('limpiarFiltros').addEventListener('click', function () {
                    window.location.href = window.location.pathname;
                });
            });
        </script>

        <script>
            var img = document.getElementsByClassName("Imag")[0];
            let sidebar = document.getElementById("sidebar");

            img.addEventListener("click", function () {

                sidebar.classList.remove("show");
            });
        </script>

        <script>
            // Seleccionar ambos tipos de dropdown buttons
            var dropdowns = document.querySelectorAll(".dropdown-btn, .dropdown-btn2, .dropdown-btn3");

            dropdowns.forEach(function (dropdown) {
                dropdown.addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            });
        </script>
        
     
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" 
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" 
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" 
        crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


    </body>
</html>
